# Node_modules
server/node_modules/
client/node_modules/

# Env / secrets
.env
*/.env

# Python virtual environments
venv/
*/venv/
.venv/
*/.venv/

# Python cache
__pycache__/
*/__pycache__/

# SQLite databases & backups
*.db
*.db-shm
*.db-wal
*.db.bak
*.db-shm.bak
*.db-wal.bak

# macOS
.DS_Store

# log
*.log
